@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* *=========== Dark theme =========== */
@layer base {
  :root {
    --background: 0 0% 100%;   /* Светлый фон */
    --foreground: 20 14.3% 4.1%; /* Темно-серый текст */

    --card: 0 0% 100%; /* Светлая карточка */
    --card-foreground: 20 14.3% 4.1%; /* Темно-серый текст в карточках */

    --popover: 0 0% 100%; /* Светлый поповер */
    --popover-foreground: 20 14.3% 4.1%; /* Темно-серый текст в поповерах */

    --primary: 210 90% 50%; /* Темно-синий (основной цвет) */
    --primary-foreground: 0 0% 98%; /* Белый текст на основном цвете */

    --secondary: 210 5% 95%; /* Светло-серый (вторичный) */
    --secondary-foreground: 20 9.8% 10%; /* Темно-серый текст для вторичного */

    --muted: 210 5.0% 95%; /* Светло-серый для "заглушенных" элементов */
    --muted-foreground: 210 10% 30%; /* Темно-серый текст для заглушенных */

    --accent: 210 5.0% 95%; /* Светло-серый акцент */
    --accent-foreground: 20 9.8% 10%; /* Темно-серый текст для акцентов */

    --destructive: 0 72.2% 50.6%; /* Можно оставить без изменений или изменить под свои нужды */
    --destructive-foreground: 0 0% 98%; /* Белый текст для разрушительных элементов */

    --border: 20 5.9% 90%; /* Цвет границ */
    --input: 20 5.9% 90%; /* Цвет для полей ввода */
    --ring: 210 90% 50%; /* Цвет для эффекта фокуса */
    --radius: 0.5rem; /* Радиус скругления */
  }

  .dark {
    --background: 20 14.3% 4.1%; /* Темный фон для темной темы */
    --foreground: 0 0% 98%; /* Светлый текст для темной темы */

    --card: 20 9.8% 8%; /* Темно-серая карточка */
    --card-foreground: 0 0% 95%; /* Светлый текст внутри карточек */

    --popover: 20 14.3% 4.1%; /* Темный поповер */
    --popover-foreground: 0 0% 98%; /* Светлый текст в поповерах */

    --primary: 210 30% 48%; /* Темно-синий (основной цвет для темной темы) */
    --primary-foreground: 0 0% 98%; /* Белый текст на основном цвете */

    --secondary: 20 10% 15%; /* Темный серый для вторичного */
    --secondary-foreground: 0 0% 98%; /* Светлый текст для вторичного */

    --muted: 20 10% 15%; /* Тот же самый темный серый */
    --muted-foreground: 210 10% 70%; /* Серый текст для "заглушенных" */

    --accent: 20 10% 15%; /* Тот же самый темный серый акцент */
    --accent-foreground: 0 0% 98%; /* Белый текст для акцентов */

    --destructive: 0 72.2% 50.6%; /* Можно оставить без изменений или изменить под свои нужды */
    --destructive-foreground: 0 0% 98%; /* Светлый текст для разрушительных элементов */

    --border: 20 10% 15%; /* Темный цвет границ */
    --input: 20 10% 15%; /* Темный цвет для полей ввода */
    --ring: 210 80% 48%; /* Цвет для эффекта фокуса для темной темы */
  }
}

.shadow-light {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.085);
}

.shadow-dark {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.141);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
